<link href="/Content/site/heartbeat.css" rel="stylesheet" />
<script type="text/ng-template" id="sendMessageModal.html">
    <div class="modal-header">
        <h1 class="modal-title">Send Message</h1>
    </div>
    <div class="modal-body">
        <form style="margin-top: 12px">
            <div class="form-group">
                <select class="form-control" ng-model="mObject.client" ng-options="client.EmailAddress group by client.DisplayName for client in mObject.clients track by client.UserRowId" style="width: 100%">
                    <option value="">-- Select client name --</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control" ng-model="mObject.task" ng-options="task.Title group by task.CurrentTaskStatusDescription for task in mObject.tasks" style="width: 100%" ng-disabled="mObject.isClientTasksLoading">
                    <option value="">-- Select task --</option>
                    <option value="task1">Task 1</option>
                    <option value="task2">Task 2</option>
                </select>
            </div>
            <div class="form-group">
                <textarea class="form-control" placeholder="Enter message here..." rows="5" ng-model="mObject.message" style="width: 100%"></textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-info" type="button" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" type="button" ng-click="send()">Send</button>
    </div>
</script>
<script type="text/ng-template" id="snoozeDateModal.html">
    <style>
        .modal-content {
            margin: 0 auto;
        }

        .modal-body {
            display: block;
            top: 0;
            left: 0;
        }

            .modal-body .input-group {
                display: inline-block;
            }

        .modal-footer {
            padding: 5px 0;
        }
    </style>
    <div class="modal-header">
        <h3 class="modal-title">Select a date to snooze through</h3>
    </div>
    <div class="modal-body">
        <div class="input-group">
            <datepicker ng-model="dt.value" min-date="minDate" show-weeks="false" close-text="Close" ng-required="true"></datepicker>
        </div>
    </div>
    <div class="modal-footer">
        <div style="display:inline-block;" class="input-group">
            <button type="button" class="btn btn-sm btn-success pull-right ng-binding" ng-click="ok()">Snooze It!</button>
            <button type="button" class="btn btn-sm btn-danger pull-right ng-binding" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>
<div class="row heartbeat-container" ng-hide="!user">
    <div class="col-xs-12 col-sm-10">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-7">
                <h1>Dashboard: <strong ng-bind="user.BusinessName"></strong></h1>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5 pull-right">
                <form class="form-horizontal" style="margin-top: 20px">
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-4 control-label" style="padding-top: 10px">Auto refresh</label>
                        <div class="col-xs-12 col-sm-8">
                            <select ng-model="refreshRate" class="form-control" style="width: 100%">
                                <option value="10000">Every 10 seconds</option>
                                <option value="30000">Every 30 seconds</option>
                                <option value="300000">Every 5 minutes</option>
                                <option value="null">Never</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>       
    </div>
    <div class="col-xs-12 col-sm-2">
        <button type="button" ng-click="sendMessage()" class="btn btn-lg btn-primary btn-send-message" style="margin: 20px 0 8px 0;">Send message now</button>
    </div>
</div>

<div class="container" style="width:100%;max-width:100%">
    <div class="row" ng-repeat="(row_name, row) in dashboard.rows" row-height style="min-height: 250px;">
        <div class="panels-wrapper">
            <div ng-repeat="(name, panel) in row.panels track by $index">
                <div ng-switch on="panel.name">
                    <div ng-switch-when="Recent activity" recent-activity ng-drag="true" ng-drag-data="panel" data-allow-transform="true" ng-drop="true" ng-drop-success="onDropComplete($data, row, panel, $event)" class="col-xs-12 col-sm-6 col-md-4" ng-model="dashboard['recent-activity']" user-data="user"></div>
                    <div ng-switch-when="Estimates requested" estimates-requested ng-drag="true" ng-drag-data="panel" data-allow-transform="true" ng-drop="true" ng-drop-success="onDropComplete($data, row, panel, $event)" class="col-xs-12 col-sm-6 col-md-4" ng-model="dashboard['estimates-requested']" user-data="user"></div>
                    <div ng-switch-when="Recent messages" recent-messages ng-drag="true" ng-drag-data="panel" data-allow-transform="true" ng-drop="true" ng-drop-success="onDropComplete($data, row, panel, $event)" class="col-xs-12 col-sm-6 col-md-4" ng-model="dashboard['recent-messages']" user-data="user"></div>
                    <div ng-switch-when="Client reminders" client-reminders ng-drag="true" ng-drag-data="panel" data-allow-transform="true" ng-drop="true" ng-drop-success="onDropComplete($data, row, panel, $event)" class="col-xs-12 col-sm-6 col-md-4" ng-model="dashboard['client-reminders']" user-data="user"></div>
                    <div ng-switch-when="Technician status updates" tech-status-updates ng-drag="true" ng-drag-data="panel" data-allow-transform="true" ng-drop="true" ng-drop-success="onDropComplete($data, row, panel, $event)" class="col-xs-12 col-sm-6 col-md-4" ng-model="dashboard['tech-status-updates']" user-data="user"></div>
                </div>                
            </div>
        </div>
    </div>
</div>
